{% extends 'history/base.html' %}
{% block title %} {{ seo_contain.catagory.meta_title }}  {% endblock %}
{% block meta_description %} {{ seo_contain.catagory.meta_description }} {% endblock %}
{% block meta_keywords %} {{ seo_contain.catagory.meta_keywords }} {% endblock %}
{% block meta_title %} {{ seo_contain.catagory.meta_title }} {% endblock %}
{% load staticfiles %}
{% load data_load %}
{% block content %}

    <section class="cat_data">
        <div class="container">
            <h2>{{ request.session.category_name}}</h2> 
            <div class="row slideanim">
                {% for data in category_data %}
                    <div class="col-sm-3 col-xs-12">
                        <div class="body-panel">
                           <a href="/{{data.catagory}}/{{ data.title_url|str2url }}/"><img src="/static/history/media/{{ data.images }}" alt="{{ data.image_alt_tag }}"></a>
                           <a href="/{{data.catagory}}/{{ data.title_url|str2url }}/"><h1>{{ data.title }}</h1></a>
                        </div>  
                    </div>
                {% endfor %}
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="pagination">
                  <span class="step-links">
                      {% if category_data.has_previous %}
                          <a href="?page=1">&laquo; first</a>
                          <a href="?page={{ category_data.previous_page_number }}">Previous</a>
                      {% endif %}
              
                      <span class="current">
                          Page {{ category_data.number }} of {{ category_data.paginator.num_pages }}.
                      </span>
              
                      {% if category_data.has_next %}
                          <a href="?page={{ category_data.next_page_number }}">Next</a>
                          <a href="?page={{ category_data.paginator.num_pages }}">Last &raquo;</a>
                      {% endif %}
                  </span>
                </div>
              </div> 
            </div> 
        </div>
     </section>
     
     <script src="{% static 'history/bootstrap-3.3.7-dist/js/jquery.min.js' %}"></script>
     <script>
     $( document ).ready(function () {
        $(".moreBox").slice(0, 3).show();
          if ($(".blogBox:hidden").length != 0) {
            $("#loadMore").show();
          }   
          $("#loadMore").on('click', function (e) {
            e.preventDefault();
            $(".moreBox:hidden").slice(0, 6).slideDown();
            if ($(".moreBox:hidden").length == 0) {
              $("#loadMore").fadeOut('slow');
            }
          });
        });
     </script>
     
 {% endblock %}   
